<%
breadcrumbs = [
	{active: false, href: root_path, text: t('menu.initial_page')},
	{active: false, href: services_path, text: Service.model_name.human(count: 2)},
	{active: true, href: '#', text: t('model.list')},
]
%>

<%= 
	render 'common_pages/index/first_container',
	attributes: {
		breadcrumbs: breadcrumbs,
		objects: @services,
		objects_path: services_path,
		policy_true: policy(Service).new?,
		url_new_path: new_service_path,
		add_new_text: raw('<i class="bi bi-plus-circle"></i> ' + t('model.add_new'))
	}
%>

<!-- Botão adicional de importação -->
<% if policy(Service).create? %>
	<div class="container mb-3">
		<div class="row">
			<div class="col-12 text-end">
				<%= link_to new_services_import_path, class: 'btn btn-success' do %>
					<i class="bi bi-upload"></i> Importação em Massa
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<%= 
	render 'common_pages/index/second_container',
	attributes: {
		page_title: Service.model_name.human(count: 2),
		url_new_path: new_service_path,
		policy_true: policy(Service).new?,
		objects: @services,
		objects_path: services_path,
		object_name: Service.model_name.human,
		breadcrumbs: breadcrumbs,
		objects_path_export: services_path(format: "csv", services_grid: (params[:services_grid].nil? ? "" : params[:services_grid].to_enum.to_h))
	}
%>