<div class="table-actions">
	<%
		provider_service_type = ''
		if record.provider_service_type
			provider_service_type = record.provider_service_type.name
		end
		if record.order_service_type_id == OrderServiceType::COTACOES_ID
			span_class = 'bg-primary'
		elsif record.order_service_type_id == OrderServiceType::DIAGNOSTICO_ID
			span_class = 'bg-danger'
		elsif record.order_service_type_id == OrderServiceType::REQUISICAO_ID
			span_class = 'bg-brown text-white'
		end
        span_text = record.order_service_type.name
	%>
	<span>
		<%= provider_service_type %>
	</span>
	<br>
	<span class="badge <%= span_class %>">
		<%= span_text %>
	</span>
	<% if false %>
		<br>
		<span class="d-flex align-items-center gap-2">
			<span>
				<% if record.data_inserted_by_provider %>
					<i data-bs-toggle="tooltip" title="Já inserido pelo fornecedor" class="bi bi-check-circle-fill text-success"></i>
				<% else %>
					<i data-bs-toggle="tooltip" title="Ainda não inserido pelo fornecedor" class="bi bi-x-circle-fill text-secondary"></i>
				<% end %>
			</span>
			<span>
				<% if record.release_quotation %>
					<i data-bs-toggle="tooltip" title="Cotação liberada" class="bi bi-check-circle-fill text-success"></i>
				<% else %>
					<i data-bs-toggle="tooltip" title="Cotação não liberada" class="bi bi-x-circle-fill text-secondary"></i>
				<% end %>
			</span>
		</span>
	<% end %>
</div>
