<div class="container">
    <div class="row">
        <!-- Logo -->
        <div class="col-12 text-center my-5">
            <%= render 'layouts/logo', width: 350, height: nil %>
        </div>
    </div>
    <%= render "sessions/session_form" %>
</div>

<%
# End of file new.html.erb
# Path: ./app/views/sessions/new.html.erb
%>
