<div class="row">
    <div class="col-12 col-md-4">
        <label class="<%= current_model %>-select">
            <%= check_box_tag current_models+'-checkboxes', '0', false, id: "select-all-"+current_models, class: "form-check-input select-all-registers pointer" %>
            <label for="select-all-<%= current_models %>" class="pointer">
                <%= text_label %>
            </label>
        </label>
    </div>
</div>