<%= simple_form_for @newsletter, url: visitors_create_newsletter_path, method: :post do |f| %>

<div class="row">

    <div class="col-12 col-md-4">
        <%= f.input :name, label: Newsletter.human_attribute_name(:name), input_html: {class: 'insert_just_letter'}  %>
    </div>

    <div class="col-12 col-md-4">
        <%= f.input :email, label: Newsletter.human_attribute_name(:email), input_html: {class: 'text-lowercase no-space', type: "email"}   %>
    </div>

    <!-- Botão de ação -->
    <div class="col-12 mt-4 text-right">
        <%= f.button :submit, class: "btn btn-primary", value: I18n.t("model.send") %>
    </div>

</div>

<% end %>
