<%= render 'contracts/modals/show_addendum_contracts', contract: record %>
<button type="button" class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#show_addendum_contracts_<%=record.id%>">
	<%= t('model.show_details') %>
</button>

<%
# End of file _show_addendum_contracts.html.erb
# Path: ./app/views/contracts/_show_addendum_contracts.html.erb
%>
