$form-range-track-height: 0.25rem;
$form-range-track-bg: rgba(188, 188, 188, 0.15);
$form-range-track-border-radius: 20px;
$form-range-thumb-width: 0.5625rem;
$form-range-thumb-height: 0.5625rem;
$form-range-thumb-bg: #516BCC;
$form-range-thumb-border-radius: 50px;
