<div id="finish-payment-data" class="col-12 text-center" style="display: none">

    <div class="col-12">
        <h5><%= Order.human_attribute_name(:confirm_payment) %></h5>
    </div>

    <div class="col-12">
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm" name="finish_payment_data" id="finish-payment-data">
                <%= Order.human_attribute_name(:checkout) %>
            </button>
        </div>
    </div>

    <div class="col-12 py-3">
        <div class="form-group">
            <button type="button" class="btn btn-light btn-sm" id="edit-payment-data">
                <%= Order.human_attribute_name(:alter_payment_type) %>
            </button>
        </div>
    </div>

</div>
