<div class="container">
    <div class="row">

        <!-- Logo -->
        <div class="col-12 text-center my-5">
            <%= render 'layouts/logo', width: 200, height: nil %>
        </div>

        <!-- Sign up -->
        <div class="col-12 col-md-4 offset-md-4">
            <%= render "sessions/user_form" %>
        </div>

    </div>
</div>

<%
# End of file visitors_new_user.html.erb
# Path: ./app/views/sessions/visitors_new_user.html.erb
%>
