<h3>Olá, administrador!</h3>
<p>Novo contato realizado:</p>

<%= render "notification_mailer/site_contacts/site_contact_data", site_contact: @site_contact %>

<%= render "notification_mailer/default_footer" %>
