<%= render 'order_services/modals/show_order_rejecteds', order_service: record %>
<span class="pointer" data-bs-toggle="modal" data-bs-target="#show_order_rejecteds_<%=record.id%>">
    <i class="bi bi-search"></i>
</span>