<%= render 'order_services/modals/show_vehicle_data', order_service: record %>
<span class="pointer" data-bs-toggle="modal" data-bs-target="#show_vehicle_data_<%=record.id%>" style="white-space: nowrap;">
    <i class="bi bi-search"></i>
    <%= record.vehicle.board %>
</span>