<h3>Olá, <%= @user.name %></h3>
<p>
	Você recebeu este e-mail porque pediu para alterar sua senha.<br>
	Clique no link a seguir para que possa escolher uma nova senha de acesso:
	<br><br>
	<%= link_to "Clique aqui", edit_pass_token_url(@user.recovery_token) %>
	<br>
	<small>Caso esteja com problema no "Clique aqui", pode selecionar o link abaixo e colar no seu navegador:</small>
	<br>
	<%= edit_pass_token_url(@user.recovery_token) %>
	<br><br>
	Depois da senha ter sido redefinida, utilize-a normalmente.
	<br><br>
	Nota: Caso você não tenha solicitado uma alteração de senha, simplesmente ignore este e-mail.
</p>

<%= render "notification_mailer/default_footer" %>