<%

if @current_user.admin?

  if @user.profile_id == Profile::USER_ID
    objects_path = users_user_path
    page_title = User.human_attribute_name(:common_users)
    form_to_render = 'users/form'
  elsif @user.profile_id == Profile::ADMIN_ID
    objects_path = users_admin_path
    page_title = User.human_attribute_name(:admin_users)
    form_to_render = 'users/admin_form'
  elsif @user.profile_id == Profile::CLIENT_ID
    objects_path = users_client_path
    page_title = User.human_attribute_name(:client_users)
    form_to_render = 'users/client_form'
  elsif @user.profile_id == Profile::MANAGER_ID
    objects_path = users_manager_path
    page_title = User.human_attribute_name(:manager_users)
    form_to_render = 'users/manager_form'
  elsif @user.profile_id == Profile::ADDITIONAL_ID
    objects_path = users_additional_path
    page_title = User.human_attribute_name(:additional_users)
    form_to_render = 'users/additional_form'
  elsif @user.profile_id == Profile::PROVIDER_ID
    objects_path = users_provider_path
    page_title = User.human_attribute_name(:provider_users)
    form_to_render = 'users/provider_form'
  end 

  if @current_user.id == @user.id
    breadcrumbs = [
      {active: false, href: root_path, text: t('menu.initial_page')},
      {active: false, href: change_data_path(id: @user.id), text: User.human_attribute_name(:my_data)}
    ]
  else
    breadcrumbs = [
      {active: false, href: root_path, text: t('menu.initial_page')},
      {active: false, href: objects_path, text: page_title},
      {active: false, href: change_data_path(id: @user.id), text: @user.get_name},
      {active: true, href: '#', text: t('model.edit')},
    ]
  end
else
  
  if @current_user.user?
    form_to_render = 'users/form'
    page_title = User.human_attribute_name(:common_users)
  elsif @current_user.client?
    form_to_render = 'users/client_form'
    page_title = User.human_attribute_name(:client_users)
  elsif @current_user.manager?
    form_to_render = 'users/manager_form'
    page_title = User.human_attribute_name(:manager_users)
  elsif @current_user.additional?
    form_to_render = 'users/additional_form'
    page_title = User.human_attribute_name(:additional_users)
  elsif @current_user.provider?
    form_to_render = 'users/provider_form'
    page_title = User.human_attribute_name(:provider_users)
  end

  objects_path = nil
  form_to_render = form_to_render
  breadcrumbs = [
    {active: false, href: change_data_path(id: @user.id), text: @user.get_name},
    {active: true, href: '#', text: User.human_attribute_name(:my_data)},
  ]
end

%>
<div class="container">

  <div class="row mb-3">
    <div class="d-none d-md-block col-md-10 text-center">
      <%= render 'common_pages/breadcrumb', links: breadcrumbs %>
    </div>
  </div>

  <!-- Dados pessoais -->
  <%= render form_to_render %>

  <!-- Dados de acesso -->
  <%= render "users/forms/change_data" %>
</div>

<%
# End of file change_data.html.erb
# Path: ./app/views/users/change_data.html.erb
%>