<div class="row align-items-end">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <%= render "common_pages/image_input", image: f.object.profile_image, form: f, label: User.human_attribute_name(:profile_image), attribute: :profile_image %>
    </div>
</div>

<%
# End of file _profile_image.html.erb
# Path: ./app/views/users/forms/_profile_image.html.erb
%>
