<%= render 'cost_centers/modals/show_sub_units', sub_unit: record %>
<button type="button" class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#show_sub_units_<%=record.id%>">
	<%= t('model.show_details') %>
</button>