<!-- Modal -->
<div class="modal fade" id="reset_password" tabindex="-1">

    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <!-- Cabeçalho -->
            <div class="modal-header">

                <!-- Título -->
                <h5 class="modal-title" id="reset_password">
                    <small class="text-muted"><%= User.human_attribute_name(:reset_user_password) %></small>
                </h5>

                <!-- Botão fechar -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Conteúdo -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-center py-2">
                        <span><%= User.human_attribute_name(:new_password_sent) %></span>
                    </div>
                    <div hidden class="col-12 text-center py-1">
                        <b><span id="new-password"></span></b>
                        <input class="input-hidden" id="link_text" value="" readonly="true">
                    </div>
                    <div hidden class="col-12 text-center py-3">
                        <button class="btn btn-sm btn-primary pointer text-white mt-2" type="button" id="copy_text">
                            <%= User.human_attribute_name(:copy_password) %>
                        </button>
                    </div>
                    <div hidden class="col-12 text-center">
                        <span class="text-danger"><%= User.human_attribute_name(:closing_modal_reset_password) %></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<%
# End of file _show_sub_categories.html.erb
# Path: ./app/views/categories/modals/_show_sub_categories.html.erb
%>
