<% if !@order_service_status.nil? %>
    <div class="row">
        <div class="col-12">
            <% if order_service_status.id == OrderServiceStatus::NOTA_FISCAL_INSERIDA_ID && policy(OrderService).can_manage? %>
                <button type="button" class="px-2 btn btn-sm btn-primary action-to-order-services-listing" id="authorize-order-services">
                    <%= OrderService.human_attribute_name(:authorize_order_services) %>
                </button>
            <% elsif order_service_status.id == OrderServiceStatus::AUTORIZADA_ID && @current_user.admin? %>
                <button type="button" class="px-2 btn btn-sm btn-primary action-to-order-services-listing" id="waiting-payment-order-services">
                    <%= OrderService.human_attribute_name(:waiting_payment) %>
                </button>
            <% elsif order_service_status.id == OrderServiceStatus::AGUARDANDO_PAGAMENTO_ID && @current_user.admin? %>
                <button type="button" class="px-2 btn btn-sm btn-primary action-to-order-services-listing" id="make-payment-order-services">
                    <%= OrderService.human_attribute_name(:make_payment) %>
                </button>
            <% end %>
        </div>
    </div>
<% end %>

<%
# End of file _button_actions.html.erb
# Path: ./app/views/order_services/renders/_button_actions.html.erb
%>