<div class="row">
    <div class="col-12 mb-2">
        <h5 class="mt-4"><%= OrderService.human_attribute_name(:invoice).upcase %></h5>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <label><%= OrderService.human_attribute_name(:invoice_information) %></label>
        <% if disabled %>
            <%= f.object.invoice_information.html_safe %>
        <% else %>
            <%= f.input :invoice_information, label: false, input_html: { class: 'ck-editor' } %>
        <% end %>
    </div>
</div>