<div class="container">

    <div class="row">
        <div class="col-12">
            <%= render 'common_pages/breadcrumb', links: breadcrumbs %>
        </div>
    </div>

    <%= render form_to_render %>

</div>

<%
# End of file _new.html.erb
# Path: ./app/views/common_pages/_new.html.erb
%>
