@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');

$primary: #251C59;
$secondary: #005BED;
$font-family-sans-serif: 'Spline Sans', sans-serif;
$headings-font-family: 'Spline Sans', sans-serif;
$enable-rounded: false;
