<div class="row">
    <div class="col-12 col-md-2">
        <label class="user-select">
            <%= check_box_tag 'users-checkboxes', '0', false, id: "select-all-users" %>
            <%= t("model.select_all") %>
        </label>
    </div>
</div>